PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/electroshop
JWT_SECRET=remplace_par_une_longue_chaine_aleatoire
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@shop.local
ADMIN_PASSWORD=change_me

# Cloudinary (stockage des photos produits) — https://cloudinary.com/users/register/free
# Dashboard Cloudinary > Product Environment Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
